<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>bin\Release\TestWork4.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>http://makc007561.somee.com</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=makc007561db.mssql.somee.com;Initial Catalog=makc007561db;Persist Security Info=False;User ID=Crack12345_SQLLogin_1;Password=iftahxrzem;Packet Size=4096;Workstation ID=makc007561db.mssql.somee.com" Name="workstation id=makc007561db.mssql.somee.com;packet size=4096;user id=Crack12345_SQLLogin_1;pwd=iftahxrzem;data source=makc007561db.mssql.somee.com;persist security info=False;initial catalog=makc007561db" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TestWork4.Models.ApplicationDbContext, TestWork4" MigrationConfiguration="TestWork4.Migrations.Configuration, TestWork4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>workstation id=makc007561db.mssql.somee.com;packet size=4096;user id=Crack12345_SQLLogin_1;pwd=iftahxrzem;data source=makc007561db.mssql.somee.com;persist security info=False;initial catalog=makc007561db</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>